<nav class="nav-bar">
    <ul class="nav-bg">
        <li><a href="." >Home</a></li>
        <li><a href="#" >Pending</a></li>
        <li><a href="#" >Approved</a></li>
        <li><a href="#" >Request (For Approval)</a></li>
        <li class="ml-auto"><a href="./logout" >Logout</a></li>
    </ul>
</nav>
