<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/imgs/favicon-16x16.png">
        <title>SwitchOn Assignment</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
        <link href="/assets/semantic/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
        <div class="stackable">
            <div class="ui grid container">
                <div class="twelve wide mobile six wide computer centered column">
                    <form class="ui form segment request-from" action="javascript:void(0);">
                        <p>Create New Request</p>
                        <div class="two fields">
                          <div class="field">
                           <label>Department</label>
                           <select class="ui dropdown select-department" name="department" onchange="load_user();">
                             <option value="">Select Department</option>
                         </select>
                     </div>
                       <div class="field">
                           <label>User</label>
                           <select class="ui dropdown select-user" name="user">
                             <option value="">Select User</option>
                         </select>
                     </div>
                 </div>
                    <div class="field">
                     <label>Message (optional)</label>
                     <input id="message" type="text" name="message" value="" />
                 </div>
         <button class="ui primary button create-btn" onclick="create_request();">Create Request</button>
         <div class="ui error message"></div>
     </form>
                </div>
            </div>
        </div>
        <div id="userData" uid="<%= userData._switchon_id %>" did="<%= userData._switchon_departmentId %>" ></div>

        <script src="/assets/jquery/jquery.min.js"></script>
        <script src="/assets/home.js"></script>
        <script src="/assets/semantic/dist/semantic.js"></script>
    </body>
</html>
